* {
  box-sizing: border-box;
}

body{
  font-family: 'Bebas Neue', cursive;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.general_grid {
  display: grid;
  grid-template-rows: repeat(3, [row] 1fr);
}

#first_section {
  background:url(./images/background-image.jpg) no-repeat #cfcfe6;
  height: 90vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 2rem;
  margin: 1.2rem 2rem 0 2rem;

  @media (min-width: 600px) {
    margin: 1.2em 2rem 0 2rem;
  }
}

  a {
    text-decoration: underline;
    color: white;
    font-weight: 400;
    font-size: 17px;
  }

  nav li:first-child {
    flex-grow: 4;
}

.container {
  display: grid;
  place-content: center;
  position: relative;
}

.child {
  padding: 7rem 15rem 7rem;
}