* {
  box-sizing: border-box;
}

body{
  font-family: 'Bebas Neue', cursive;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#first_section {
  background:url(./images/background-image.jpg) no-repeat #cfcfe6;
  height: 90vh;
  width: 100%;
  position: absolute;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 2rem;
  margin: 1.2rem 2rem 0 2rem;

  @media (min-width: 600px) {
    margin: 1.2em 2rem 0 2rem;
  }
}

  a {
    text-decoration: underline;
    color: white;
    font-weight: 400;
    font-size: 17px;
  }

  nav li:first-child {
    flex-grow: 4;
}

.container {
  display: grid;
  place-content: center;
}

.child {
  justify-items: center;
  padding: 10.6rem 1rem 1rem 11rem;
}

.section-div {
  background-color: #e8e8ef;
  border: 1px solid white;
}

